<a href="https://colab.research.google.com/github/HamzahSarmad/Y3_CO3093_Big_Data_And_Predictive_Analytics/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from scipy.optimize import curve_fit

In [2]:
df = pd.read_csv('/content/sample_data/diabetic_data.csv', na_values='?')
df.head(10)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

   encounter_id  patient_nbr             race  ... change diabetesMed readmitted
0       2278392      8222157        Caucasian  ...     No          No         NO
1        149190     55629189        Caucasian  ...     Ch         Yes        >30
2         64410     86047875  AfricanAmerican  ...     No         Yes         NO
3        500364     82442376        Caucasian  ...     Ch         Yes         NO
4         16680     42519267        Caucasian  ...     Ch         Yes         NO
5         35754     82637451        Caucasian  ...     No         Yes        >30
6         55842     84259809        Caucasian  ...     Ch         Yes         NO
7         63768    114882984        Caucasian  ...     No         Yes        >30
8         12522     48330783        Caucasian  ...     Ch         Yes         NO
9         15738     63555939        Caucasian  ...     Ch         Yes         NO

[10 rows x 50 columns]

In [3]:
df.shape

(101766, 50)

In [8]:
df.dropna(thresh=0.5*len(df), axis=1)

        encounter_id  patient_nbr  ... diabetesMed readmitted
0            2278392      8222157  ...          No         NO
1             149190     55629189  ...         Yes        >30
2              64410     86047875  ...         Yes         NO
3             500364     82442376  ...         Yes         NO
4              16680     42519267  ...         Yes         NO
...              ...          ...  ...         ...        ...
101761     443847548    100162476  ...         Yes        >30
101762     443847782     74694222  ...         Yes         NO
101763     443854148     41088789  ...         Yes         NO
101764     443857166     31693671  ...         Yes         NO
101765     443867222    175429310  ...          No         NO

[101766 rows x 49 columns]

In [5]:
df.shape

(101766, 50)

In [6]:
df['diag_1'] = df['diag_1'].fillna(0)
df['diag_2'] = df['diag_2'].fillna(0)
df['diag_3'] = df['diag_3'].fillna(0)

In [7]:
df.head(5)

   encounter_id  patient_nbr             race  ... change diabetesMed readmitted
0       2278392      8222157        Caucasian  ...     No          No         NO
1        149190     55629189        Caucasian  ...     Ch         Yes        >30
2         64410     86047875  AfricanAmerican  ...     No         Yes         NO
3        500364     82442376        Caucasian  ...     Ch         Yes         NO
4         16680     42519267        Caucasian  ...     Ch         Yes         NO

[5 rows x 50 columns]

In [11]:
df.dropna()

        encounter_id  patient_nbr  ... diabetesMed readmitted
27068       88792836    100654011  ...         Yes        <30
27128       88986678     58682736  ...         Yes         NO
27147       89032962     69250302  ...         Yes        >30
27186       89191392     62022042  ...         Yes        >30
27236       89277516     30950811  ...         Yes        >30
...              ...          ...  ...         ...        ...
101278     437309498     52653654  ...         Yes         NO
101330     437928656    117516146  ...          No         NO
101340     437959022      8420319  ...         Yes         NO
101449     439577312     97708986  ...         Yes         NO
101456     439606454    113392368  ...          No        >30

[1051 rows x 50 columns]